<a href="https://colab.research.google.com/github/siriwat-heart/data_viz_2022/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#นำเข้าข้อมูล

In [2]:
import pandas as pd #เรียกใช้งาน pandas
import os #เรียกใช้งาน os

In [3]:
from google.colab import drive #เปิดที่ google colab เรียก drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

##ข้อมูลผู้ป่วย 12/01/2020 - 11/08/2021

In [4]:
data_covid1 = pd.read_csv('/content/drive/My Drive/project2021 data/confirmed-cases.csv') #เข้าไปที่ my drive -> โฟลเดอร์ project2021 data -> confirmed-cases.csv
data_covid1

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
816984,816985,11/8/2021,10/8/2021,หญิง,8.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816985,816986,11/8/2021,10/8/2021,ชาย,14.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816986,816987,11/8/2021,10/8/2021,ชาย,59.0,ปี,Thailand,สระแก้ว,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,สระแก้ว,อรัญประเทศ
816987,816988,11/8/2021,10/8/2021,หญิง,34.0,ปี,Thailand,สระแก้ว,อื่นๆ,กรุงเทพมหานคร,บางขุนเทียน
816988,816989,11/8/2021,10/8/2021,หญิง,19.0,ปี,Thailand,สระแก้ว,อื่นๆ,พระนครศรีอยุธยา,อุทัย

##ข้อมูลผู้ป่วย 12/08/2021 - 25/10/2021

In [5]:
data_covid2 = pd.read_csv('/content/drive/My Drive/project2021 data/confirmed-cases-since-120864.csv') #เข้าไปที่ my drive -> โฟลเดอร์ project2021 data -> confirmed-cases-since-120864.csv
data_covid2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

##ข้อมูลผู้ป่วย 26/10/2021 - 27/02/2022

In [6]:
data_covid3 = pd.read_csv('/content/drive/My Drive/project2021 data/confirmed-cases-since-271064.csv') #เข้าไปที่ my drive -> โฟลเดอร์ project2021 data -> confirmed-cases-since-271064.csv
data_covid3 = data_covid3.drop('Unnamed: 11', axis=1)
data_covid3

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง
...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN

##ข้อมูลผู้ป่วย 28/02/2022 - 18/03/2022

In [7]:
data_covid4 = pd.read_csv('/content/drive/My Drive/project2021 data/confirmed-cases-since-280265.csv') #เข้าไปที่ my drive -> โฟลเดอร์ project2021 data -> confirmed-cases-since-280265.csv
data_covid4

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN

##รวมตาราง Covid

In [8]:
data_covid = pd.concat([data_covid1,data_covid2,data_covid3,data_covid4])
data_covid

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [9]:
covid = data_covid[['No.','announce_date','sex','age','Unit','nationality','risk','province_of_isolation']]
covid

,No.,announce_date,sex,age,Unit,nationality,risk,province_of_isolation
0,1,12/1/2020,หญิง,61.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
1,2,17/1/2020,หญิง,74.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
2,3,22/1/2020,หญิง,73.0,ปี,Thailand,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม
3,4,22/1/2020,ชาย,68.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
4,5,24/1/2020,หญิง,66.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,นนทบุรี
...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร
433549,3303166,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร
433550,3303167,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร
433551,3303168,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ,สงขลา
433552,3303169,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ,สงขลา

###ดูค่า Missing ของ data_covid

In [10]:
covid.isnull().any() ##ดูค่า Missing ในตาราง data_covid

No.                      False
announce_date            False
sex                       True
age                       True
Unit                      True
nationality               True
risk                      True
province_of_isolation     True
dtype: bool

### กำจัดค่า Missing

In [11]:
set(covid['province_of_isolation']) #ตรวจสอบค่าใน province_of_isolation

{nan,
 'กทม',
 'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'ขอนแก่น\xa0',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บึงกาฬ',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภููเก็ต',
 'ภูเก็ต',
 'มหาสารคาม',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน'}

In [12]:
covid['province_of_isolation'].replace({'กทม':'กรุงเทพมหานคร','ขอนแก่น\xa0':'ขอนแก่น','ภููเก็ต':'ภูเก็ต'}, inplace=True ) #แทนที่ข้อมูลที่ผิดปกติ

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [13]:
covid[['sex']] = covid[['sex']].fillna('ไม่ระบุ') ##แทนค่า NaN เป็น ไม่ระบุ
covid[['Unit']] = covid[['Unit']].fillna('ปี') ##แทนค่า NaN ใน Unit เป็น ปี
covid[['nationality']] = covid[['nationality']].fillna('ไม่ระบุ') ##แทนค่า NaN เป็น ไม่ระบุ
covid[['province_of_isolation']] = covid[['province_of_isolation']].fillna('ไม่ระบุ') ##แทนค่า NaN เป็น ไม่ระบุ
covid[['risk']] = covid[['risk']].fillna('ไม่ระบุ') ##แทนค่า NaN เป็น ไม่ระบุ

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [14]:
covid.isnull().any() ##ดูค่า Missing ในตาราง data_covid

No.                      False
announce_date            False
sex                      False
age                       True
Unit                     False
nationality              False
risk                     False
province_of_isolation    False
dtype: bool

In [15]:
covid = covid.dropna()
covid

,No.,announce_date,sex,age,Unit,nationality,risk,province_of_isolation
0,1,12/1/2020,หญิง,61.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
1,2,17/1/2020,หญิง,74.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
2,3,22/1/2020,หญิง,73.0,ปี,Thailand,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม
3,4,22/1/2020,ชาย,68.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
4,5,24/1/2020,หญิง,66.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,นนทบุรี
...,...,...,...,...,...,...,...,...
433445,3303062,18/3/2022,ไม่ระบุ,43.0,ปี,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร
433446,3303063,18/3/2022,ไม่ระบุ,21.0,ปี,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร
433447,3303064,18/3/2022,ไม่ระบุ,22.0,ปี,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร
433448,3303065,18/3/2022,ไม่ระบุ,25.0,ปี,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร
433449,3303066,18/3/2022,ไม่ระบุ,64.0,ปี,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร

In [16]:
before = 3303169
after = 3036373
print(f'before = {before} \nafter = {after}\n which is {((before-after)/before)*100}')

before = 3303169
after = 3036373
 which is 8.076970933064581

In [17]:
set(covid['province_of_isolation']) #ตรวจสอบค่าใน province_of_isolation

{'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บึงกาฬ',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภูเก็ต',
 'มหาสารคาม',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน',
 'ไม่ระบุ'}

In [18]:
covid

,No.,announce_date,sex,age,Unit,nationality,risk,province_of_isolation
0,1,12/1/2020,หญิง,61.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
1,2,17/1/2020,หญิง,74.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
2,3,22/1/2020,หญิง,73.0,ปี,Thailand,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม
3,4,22/1/2020,ชาย,68.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
4,5,24/1/2020,หญิง,66.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,นนทบุรี
...,...,...,...,...,...,...,...,...
433445,3303062,18/3/2022,ไม่ระบุ,43.0,ปี,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร
433446,3303063,18/3/2022,ไม่ระบุ,21.0,ปี,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร
433447,3303064,18/3/2022,ไม่ระบุ,22.0,ปี,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร
433448,3303065,18/3/2022,ไม่ระบุ,25.0,ปี,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร
433449,3303066,18/3/2022,ไม่ระบุ,64.0,ปี,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร

###เพิ่ม Column เดือน

In [19]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3036373 entries, 0 to 433449
Data columns (total 8 columns):
 #   Column                 Dtype
---  ------                 -----
 0   No.                    int64
 1   announce_date          object
 2   sex                    object
 3   age                    object
 4   Unit                   object
 5   nationality            object
 6   risk                   object
 7   province_of_isolation  object
dtypes: int64(1), object(7)
memory usage: 208.5+ MB

In [20]:
import datetime

In [21]:
df = pd.DataFrame(covid)
df['announce_date'] = pd.to_datetime(df['announce_date'], format = "%d/%m/%Y")
df['year'] = df['announce_date'].dt.year
df['month'] = df['announce_date'].dt.month

In [22]:
df

,No.,announce_date,sex,age,Unit,nationality,risk,province_of_isolation,year,month
0,1,2020-01-12,หญิง,61.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,2020,1
1,2,2020-01-17,หญิง,74.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,2020,1
2,3,2020-01-22,หญิง,73.0,ปี,Thailand,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,2020,1
3,4,2020-01-22,ชาย,68.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,2020,1
4,5,2020-01-24,หญิง,66.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,นนทบุรี,2020,1
...,...,...,...,...,...,...,...,...,...,...
433445,3303062,2022-03-18,ไม่ระบุ,43.0,ปี,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร,2022,3
433446,3303063,2022-03-18,ไม่ระบุ,21.0,ปี,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร,2022,3
433447,3303064,2022-03-18,ไม่ระบุ,22.0,ปี,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร,2022,3
433448,3303065,2022-03-18,ไม่ระบุ,25.0,ปี,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร,2022,3
433449,3303066,2022-03-18,ไม่ระบุ,64.0,ปี,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร,2022,3

##สร้างตารางข้อมูลจังหวัดที่แบ่งเป็นภูมิภาคต่างๆ

In [23]:
t = {'จังหวัด': ['อำนาจเจริญ', 'บึงกาฬ', 'บุรีรัมย์', 'ชัยภูมิ', 'กาฬสินธุ์', 'ขอนแก่น', 'เลย', 'มหาสารคาม', 'มุกดาหาร', 'นครพนม', 'นครราชสีมา', 'หนองบัวลำภู', 'หนองคาย', 'ร้อยเอ็ด', 'สกลนคร', 'ศรีสะเกษ', 'สุรินทร์', 'อุบลราชธานี', 'อุดรธานี', 'ยโสธร','เชียงใหม่', 'เชียงราย', 'ลำปาง', 'ลำพูน', 'แม่ฮ่องสอน', 'น่าน', 'พะเยา', 'แพร่', 'อุตรดิตถ์','ตาก','สุโขทัย', 'พิษณุโลก', 'พิจิตร', 'กำแพงเพชร', 'เพชรบูรณ์','นครสวรรค์', 'อุทัยธานี','อ่างทอง', 'ชัยนาท', 'พระนครศรีอยุธยา', 'กรุงเทพมหานคร', 'ลพบุรี', 'นครปฐม', 'นนทบุรี', 'ปทุมธานี', 'สมุทรปราการ','สมุทรสาคร', 'สมุทรสงคราม','สระบุรี', 'สิงห์บุรี', 'สุพรรณบุรี','นครนายก','ฉะเชิงเทรา', 'จันทบุรี', 'ชลบุรี', 'ปราจีนบุรี', 'ระยอง', 'สระแก้ว', 'ตราด','กาญจนบุรี', 'ราชบุรี','เพชรบุรี', 'ประจวบคีรีขันธ์','ชุมพร', 'นครศรีธรรมราช', 'นราธิวาส', 'ปัตตานี', 'พัทลุง', 'สงขลา', 'สุราษฎร์ธานี', 'ยะลา','กระบี่', 'พังงา', 'ภูเก็ต', 'ระนอง', 'สตูล', 'ตรัง'],
            'ภูมิภาค': ['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','ตะวันตก','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันตก','ตะวันตก','ตะวันตก','ตะวันตก','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้']
} #นำเข้าข้อมูล จังหวัดและภูมิภาค
data_t = pd.DataFrame.from_dict(t) #สร้างตาราง 
data_t ##เรียกดูตาราง

       จังหวัด             ภูมิภาค
0   อำนาจเจริญ  ตะวันออกเฉียงเหนือ
1       บึงกาฬ  ตะวันออกเฉียงเหนือ
2    บุรีรัมย์  ตะวันออกเฉียงเหนือ
3      ชัยภูมิ  ตะวันออกเฉียงเหนือ
4    กาฬสินธุ์  ตะวันออกเฉียงเหนือ
..         ...                 ...
72       พังงา                 ใต้
73      ภูเก็ต                 ใต้
74       ระนอง                 ใต้
75        สตูล                 ใต้
76        ตรัง                 ใต้

[77 rows x 2 columns]

###ดูค่า Missing ของ data_t

In [24]:
data_t.isnull().any() ##ดูค่า Missing ในตาราง

จังหวัด    False
ภูมิภาค    False
dtype: bool

##นำเข้าข้อมูลการเกิด ปี 2020-2021

In [25]:
data_bd = pd.read_csv('/content/drive/My Drive/project2021 data/databirth_20_21_22_2.csv') #เข้าไปที่ my drive -> โฟลเดอร์ project2021 data -> databirth_20_21.csv
data_bd

,พื้นที่,ชาย (คน) 2020,หญิง (คน) 2020,รวม (คน) 2020,ชาย (คน) 2021,หญิง (คน) 2021,รวม (คน) 2021,ชาย (คน) 2022,หญิง (คน) 2022,รวม (คน) 2022
0,กรุงเทพมหานคร,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
1,สมุทรปราการ,"6,348","5,778","12,126","6,040","5,524","11,564",849,768,"1,617"
2,นนทบุรี,"4,172","3,919","8,091","3,928","3,697","7,625",510,502,"1,012"
3,ปทุมธานี,"5,203","4,928","10,131","4,973","4,625","9,598",724,651,"1,375"
4,พระนครศรีอยุธยา,"3,481","3,205","6,686","3,076","2,845","5,921",417,395,812
...,...,...,...,...,...,...,...,...,...,...
72,ตรัง,"2,859","2,705","5,564","2,595","2,482","5,077",351,334,685
73,พัทลุง,"1,945","1,774","3,719","1,697","1,707","3,404",248,249,497
74,ปัตตานี,"5,626","5,307","10,933","5,192","5,091","10,283",820,736,"1,556"
75,ยะลา,"5,232","5,029","10,261","5,073","4,682","9,755",803,715,"1,518"
76,นราธิวาส,"6,115","5,851","11,966","5,798","5,497","11,295",881,829,"1,710"

###ดูค่า Missing ของ data_bd

In [26]:
data_bd.isnull().any() ##ดูค่า Missing ในตาราง

พื้นที่           False
ชาย (คน) 2020     False
หญิง (คน) 2020    False
รวม (คน) 2020     False
ชาย (คน) 2021     False
หญิง (คน) 2021    False
รวม (คน) 2021     False
ชาย (คน) 2022     False
หญิง (คน) 2022    False
รวม (คน) 2022     False
dtype: bool

#รวมตาราง

In [27]:
data1 = data_t.merge(data_bd,how='left',left_on='จังหวัด',right_on='พื้นที่') #ทำการเชื่อมตาราง 2 ตาราง คือ data_covid และ data_t
data1 ##เรียกดูตาราง

,จังหวัด,ภูมิภาค,พื้นที่,ชาย (คน) 2020,หญิง (คน) 2020,รวม (คน) 2020,ชาย (คน) 2021,หญิง (คน) 2021,รวม (คน) 2021,ชาย (คน) 2022,หญิง (คน) 2022,รวม (คน) 2022
0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,อำนาจเจริญ,"1,328","1,309","2,637","1,375","1,273","2,648",209,180,389
1,บึงกาฬ,ตะวันออกเฉียงเหนือ,บึงกาฬ,"1,693","1,555","3,248","1,572","1,521","3,093",243,223,466
2,บุรีรัมย์,ตะวันออกเฉียงเหนือ,บุรีรัมย์,"5,871","5,502","11,373","5,389","5,266","10,655",748,723,"1,471"
3,ชัยภูมิ,ตะวันออกเฉียงเหนือ,ชัยภูมิ,"3,807","3,529","7,336","3,505","3,308","6,813",508,492,"1,000"
4,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,กาฬสินธุ์,"3,106","3,039","6,145","3,063","2,891","5,954",424,403,827
...,...,...,...,...,...,...,...,...,...,...,...,...
72,พังงา,ใต้,พังงา,"1,051","1,034","2,085",946,914,"1,860",145,133,278
73,ภูเก็ต,ใต้,ภูเก็ต,"3,249","3,121","6,370","2,496","2,311","4,807",300,289,589
74,ระนอง,ใต้,ระนอง,"1,024",997,"2,021",859,821,"1,680",114,121,235
75,สตูล,ใต้,สตูล,"1,825","1,684","3,509","1,704","1,458","3,162",229,210,439
76,ตรัง,ใต้,ตรัง,"2,859","2,705","5,564","2,595","2,482","5,077",351,334,685

In [28]:
data1 = data1.drop('พื้นที่', axis=1)
data1

,จังหวัด,ภูมิภาค,ชาย (คน) 2020,หญิง (คน) 2020,รวม (คน) 2020,ชาย (คน) 2021,หญิง (คน) 2021,รวม (คน) 2021,ชาย (คน) 2022,หญิง (คน) 2022,รวม (คน) 2022
0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,"1,328","1,309","2,637","1,375","1,273","2,648",209,180,389
1,บึงกาฬ,ตะวันออกเฉียงเหนือ,"1,693","1,555","3,248","1,572","1,521","3,093",243,223,466
2,บุรีรัมย์,ตะวันออกเฉียงเหนือ,"5,871","5,502","11,373","5,389","5,266","10,655",748,723,"1,471"
3,ชัยภูมิ,ตะวันออกเฉียงเหนือ,"3,807","3,529","7,336","3,505","3,308","6,813",508,492,"1,000"
4,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,"3,106","3,039","6,145","3,063","2,891","5,954",424,403,827
...,...,...,...,...,...,...,...,...,...,...,...
72,พังงา,ใต้,"1,051","1,034","2,085",946,914,"1,860",145,133,278
73,ภูเก็ต,ใต้,"3,249","3,121","6,370","2,496","2,311","4,807",300,289,589
74,ระนอง,ใต้,"1,024",997,"2,021",859,821,"1,680",114,121,235
75,สตูล,ใต้,"1,825","1,684","3,509","1,704","1,458","3,162",229,210,439
76,ตรัง,ใต้,"2,859","2,705","5,564","2,595","2,482","5,077",351,334,685

In [29]:
data1 = data1.dropna()
data1

,จังหวัด,ภูมิภาค,ชาย (คน) 2020,หญิง (คน) 2020,รวม (คน) 2020,ชาย (คน) 2021,หญิง (คน) 2021,รวม (คน) 2021,ชาย (คน) 2022,หญิง (คน) 2022,รวม (คน) 2022
0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,"1,328","1,309","2,637","1,375","1,273","2,648",209,180,389
1,บึงกาฬ,ตะวันออกเฉียงเหนือ,"1,693","1,555","3,248","1,572","1,521","3,093",243,223,466
2,บุรีรัมย์,ตะวันออกเฉียงเหนือ,"5,871","5,502","11,373","5,389","5,266","10,655",748,723,"1,471"
3,ชัยภูมิ,ตะวันออกเฉียงเหนือ,"3,807","3,529","7,336","3,505","3,308","6,813",508,492,"1,000"
4,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,"3,106","3,039","6,145","3,063","2,891","5,954",424,403,827
...,...,...,...,...,...,...,...,...,...,...,...
72,พังงา,ใต้,"1,051","1,034","2,085",946,914,"1,860",145,133,278
73,ภูเก็ต,ใต้,"3,249","3,121","6,370","2,496","2,311","4,807",300,289,589
74,ระนอง,ใต้,"1,024",997,"2,021",859,821,"1,680",114,121,235
75,สตูล,ใต้,"1,825","1,684","3,509","1,704","1,458","3,162",229,210,439
76,ตรัง,ใต้,"2,859","2,705","5,564","2,595","2,482","5,077",351,334,685

In [30]:
before = 77
after = 77
print(f'before = {before} \nafter = {after}\n which is {((before-after)/before)*100}')

before = 77
after = 77
 which is 0.0

##รวม 3 ตาราง

In [31]:
Project = df.merge(data1,how='left',left_on='province_of_isolation',right_on='จังหวัด') #ทำการเชื่อมตาราง 2 ตาราง คือ covid และ data_bd
Project ##เรียกดูตาราง

,No.,announce_date,sex,age,Unit,nationality,risk,province_of_isolation,year,month,...,ภูมิภาค,ชาย (คน) 2020,หญิง (คน) 2020,รวม (คน) 2020,ชาย (คน) 2021,หญิง (คน) 2021,รวม (คน) 2021,ชาย (คน) 2022,หญิง (คน) 2022,รวม (คน) 2022
0,1,2020-01-12,หญิง,61.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,2020,1,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
1,2,2020-01-17,หญิง,74.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,2020,1,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
2,3,2020-01-22,หญิง,73.0,ปี,Thailand,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,2020,1,...,กลาง,"3,403","3,184","6,587","3,082","2,974","6,056",419,418,837
3,4,2020-01-22,ชาย,68.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,2020,1,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
4,5,2020-01-24,หญิง,66.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,นนทบุรี,2020,1,...,กลาง,"4,172","3,919","8,091","3,928","3,697","7,625",510,502,"1,012"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3036368,3303062,2022-03-18,ไม่ระบุ,43.0,ปี,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร,2022,3,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
3036369,3303063,2022-03-18,ไม่ระบุ,21.0,ปี,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร,2022,3,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
3036370,3303064,2022-03-18,ไม่ระบุ,22.0,ปี,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร,2022,3,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
3036371,3303065,2022-03-18,ไม่ระบุ,25.0,ปี,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร,2022,3,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
3036372,3303066,2022-03-18,ไม่ระบุ,64.0,ปี,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร,2022,3,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"

In [32]:
Project.isnull().any() ##ดูค่า Missing ในตาราง

No.                      False
announce_date            False
sex                      False
age                      False
Unit                     False
nationality              False
risk                     False
province_of_isolation    False
year                     False
month                    False
จังหวัด                   True
ภูมิภาค                   True
ชาย (คน) 2020             True
หญิง (คน) 2020            True
รวม (คน) 2020             True
ชาย (คน) 2021             True
หญิง (คน) 2021            True
รวม (คน) 2021             True
ชาย (คน) 2022             True
หญิง (คน) 2022            True
รวม (คน) 2022             True
dtype: bool

In [33]:
set(Project['จังหวัด']) #ตรวจสอบค่าใน province_of_isolation

{nan,
 'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บึงกาฬ',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภูเก็ต',
 'มหาสารคาม',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน'}

In [34]:
Project.dropna()

,No.,announce_date,sex,age,Unit,nationality,risk,province_of_isolation,year,month,...,ภูมิภาค,ชาย (คน) 2020,หญิง (คน) 2020,รวม (คน) 2020,ชาย (คน) 2021,หญิง (คน) 2021,รวม (คน) 2021,ชาย (คน) 2022,หญิง (คน) 2022,รวม (คน) 2022
0,1,2020-01-12,หญิง,61.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,2020,1,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
1,2,2020-01-17,หญิง,74.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,2020,1,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
2,3,2020-01-22,หญิง,73.0,ปี,Thailand,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,2020,1,...,กลาง,"3,403","3,184","6,587","3,082","2,974","6,056",419,418,837
3,4,2020-01-22,ชาย,68.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,2020,1,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
4,5,2020-01-24,หญิง,66.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,นนทบุรี,2020,1,...,กลาง,"4,172","3,919","8,091","3,928","3,697","7,625",510,502,"1,012"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3036368,3303062,2022-03-18,ไม่ระบุ,43.0,ปี,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร,2022,3,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
3036369,3303063,2022-03-18,ไม่ระบุ,21.0,ปี,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร,2022,3,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
3036370,3303064,2022-03-18,ไม่ระบุ,22.0,ปี,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร,2022,3,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
3036371,3303065,2022-03-18,ไม่ระบุ,25.0,ปี,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร,2022,3,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
3036372,3303066,2022-03-18,ไม่ระบุ,64.0,ปี,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร,2022,3,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"

In [35]:
before = 3036373
after = 3032781
print(f'before = {before} \nafter = {after}\n which is {((before-after)/before)*100}')

before = 3036373
after = 3032781
 which is 0.11829903638321114

In [36]:
Project = Project.fillna('ไม่ระบุ') ##แทนค่า NaN เป็น ไม่ระบุ

In [37]:
Project.isnull().any() ##ดูค่า Missing ในตาราง

No.                      False
announce_date            False
sex                      False
age                      False
Unit                     False
nationality              False
risk                     False
province_of_isolation    False
year                     False
month                    False
จังหวัด                  False
ภูมิภาค                  False
ชาย (คน) 2020            False
หญิง (คน) 2020           False
รวม (คน) 2020            False
ชาย (คน) 2021            False
หญิง (คน) 2021           False
รวม (คน) 2021            False
ชาย (คน) 2022            False
หญิง (คน) 2022           False
รวม (คน) 2022            False
dtype: bool

# เลือกข้อมูลมาทำ Dasfboard

In [38]:
Project_1_2020 = Project[((Project['month'] == 1) |(Project['month'] == 2) | (Project['month'] == 3)) & (Project['year'] == 2020)]
Project_1_2020

,No.,announce_date,sex,age,Unit,nationality,risk,province_of_isolation,year,month,...,ภูมิภาค,ชาย (คน) 2020,หญิง (คน) 2020,รวม (คน) 2020,ชาย (คน) 2021,หญิง (คน) 2021,รวม (คน) 2021,ชาย (คน) 2022,หญิง (คน) 2022,รวม (คน) 2022
0,1,2020-01-12,หญิง,61.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,2020,1,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
1,2,2020-01-17,หญิง,74.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,2020,1,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
2,3,2020-01-22,หญิง,73.0,ปี,Thailand,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,2020,1,...,กลาง,"3,403","3,184","6,587","3,082","2,974","6,056",419,418,837
3,4,2020-01-22,ชาย,68.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,2020,1,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
4,5,2020-01-24,หญิง,66.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,นนทบุรี,2020,1,...,กลาง,"4,172","3,919","8,091","3,928","3,697","7,625",510,502,"1,012"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1640,1648,2020-03-31,หญิง,44.0,ปี,Thailand,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,กรุงเทพมหานคร,2020,3,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
1641,1649,2020-03-31,หญิง,61.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,2020,3,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
1642,1650,2020-03-31,หญิง,34.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,2020,3,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
1643,1651,2020-03-31,ชาย,42.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,2020,3,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
1644,1652,2020-03-31,หญิง,51.0,ปี,Thailand,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,กรุงเทพมหานคร,2020,3,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"

In [39]:
Project_2_2020 = Project[((Project['month'] == 4) |(Project['month'] == 5) | (Project['month'] == 6)) & (Project['year'] == 2020)]
Project_2_2020

,No.,announce_date,sex,age,Unit,nationality,risk,province_of_isolation,year,month,...,ภูมิภาค,ชาย (คน) 2020,หญิง (คน) 2020,รวม (คน) 2020,ชาย (คน) 2021,หญิง (คน) 2021,รวม (คน) 2021,ชาย (คน) 2022,หญิง (คน) 2022,รวม (คน) 2022
1645,1653,2020-04-01,ชาย,76.0,ปี,Thailand,สนามมวย,กรุงเทพมหานคร,2020,4,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
1646,1654,2020-04-01,หญิง,30.0,ปี,Thailand,สถานบันเทิง,หนองบัวลำภู,2020,4,...,ตะวันออกเฉียงเหนือ,"1,825","1,761","3,586","1,712","1,637","3,349",224,226,450
1647,1655,2020-04-01,หญิง,37.0,ปี,Thailand,สถานบันเทิง,ภูเก็ต,2020,4,...,ใต้,"3,249","3,121","6,370","2,496","2,311","4,807",300,289,589
1648,1656,2020-04-01,หญิง,37.0,ปี,Thailand,สถานบันเทิง,ภูเก็ต,2020,4,...,ใต้,"3,249","3,121","6,370","2,496","2,311","4,807",300,289,589
1649,1657,2020-04-01,หญิง,27.0,ปี,Thailand,สถานบันเทิง,ภูเก็ต,2020,4,...,ใต้,"3,249","3,121","6,370","2,496","2,311","4,807",300,289,589
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3149,3168,2020-06-29,ชาย,61.0,ปี,Thailand,State Quarantine,กรุงเทพมหานคร,2020,6,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
3150,3169,2020-06-29,หญิง,28.0,ปี,Thailand,State Quarantine,กรุงเทพมหานคร,2020,6,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
3151,3170,2020-06-29,หญิง,27.0,ปี,Thailand,State Quarantine,สมุทรปราการ,2020,6,...,กลาง,"6,348","5,778","12,126","6,040","5,524","11,564",849,768,"1,617"
3152,3171,2020-06-30,ชาย,27.0,ปี,Thailand,State Quarantine,ชลบุรี,2020,6,...,ตะวันออก,"13,012","12,266","25,278","11,819","11,166","22,985","1,679","1,548","3,227"
3153,3172,2020-06-30,ชาย,28.0,ปี,Thailand,State Quarantine,ชลบุรี,2020,6,...,ตะวันออก,"13,012","12,266","25,278","11,819","11,166","22,985","1,679","1,548","3,227"

In [40]:
Project_3_2020 = Project[((Project['month'] == 7) |(Project['month'] == 8) | (Project['month'] == 9)) & (Project['year'] == 2020)]
Project_3_2020

,No.,announce_date,sex,age,Unit,nationality,risk,province_of_isolation,year,month,...,ภูมิภาค,ชาย (คน) 2020,หญิง (คน) 2020,รวม (คน) 2020,ชาย (คน) 2021,หญิง (คน) 2021,รวม (คน) 2021,ชาย (คน) 2022,หญิง (คน) 2022,รวม (คน) 2022
3154,3173,2020-07-01,ชาย,47.0,ปี,Thailand,State Quarantine,สมุทรปราการ,2020,7,...,กลาง,"6,348","5,778","12,126","6,040","5,524","11,564",849,768,"1,617"
3155,3174,2020-07-01,ชาย,47.0,ปี,Thailand,State Quarantine,สมุทรปราการ,2020,7,...,กลาง,"6,348","5,778","12,126","6,040","5,524","11,564",849,768,"1,617"
3156,3175,2020-07-02,ชาย,43.0,ปี,Thailand,State Quarantine,ชลบุรี,2020,7,...,ตะวันออก,"13,012","12,266","25,278","11,819","11,166","22,985","1,679","1,548","3,227"
3157,3176,2020-07-02,ชาย,37.0,ปี,Thailand,State Quarantine,ชลบุรี,2020,7,...,ตะวันออก,"13,012","12,266","25,278","11,819","11,166","22,985","1,679","1,548","3,227"
3158,3177,2020-07-02,ชาย,62.0,ปี,Thailand,State Quarantine,ชลบุรี,2020,7,...,ตะวันออก,"13,012","12,266","25,278","11,819","11,166","22,985","1,679","1,548","3,227"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3542,3561,2020-09-30,ชาย,34.0,ปี,Thailand,State Quarantine,กรุงเทพมหานคร,2020,9,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
3543,3562,2020-09-30,ชาย,31.0,ปี,India,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ,ชลบุรี,2020,9,...,ตะวันออก,"13,012","12,266","25,278","11,819","11,166","22,985","1,679","1,548","3,227"
3544,3563,2020-09-30,ชาย,26.0,ปี,Thailand,State Quarantine,สมุทรปราการ,2020,9,...,กลาง,"6,348","5,778","12,126","6,040","5,524","11,564",849,768,"1,617"
3545,3564,2020-09-30,ชาย,64.0,ปี,Thailand,State Quarantine,สมุทรปราการ,2020,9,...,กลาง,"6,348","5,778","12,126","6,040","5,524","11,564",849,768,"1,617"
3546,3565,2020-09-30,ชาย,41.0,ปี,Thailand,State Quarantine,กรุงเทพมหานคร,2020,9,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"

In [41]:
Project_4_2020 = Project[((Project['month'] == 10) |(Project['month'] == 11) | (Project['month'] == 12)) & (Project['year'] == 2020)]
Project_4_2020

,No.,announce_date,sex,age,Unit,nationality,risk,province_of_isolation,year,month,...,ภูมิภาค,ชาย (คน) 2020,หญิง (คน) 2020,รวม (คน) 2020,ชาย (คน) 2021,หญิง (คน) 2021,รวม (คน) 2021,ชาย (คน) 2022,หญิง (คน) 2022,รวม (คน) 2022
3547,3566,2020-10-01,ชาย,26.0,ปี,Philippines,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ,กรุงเทพมหานคร,2020,10,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
3548,3567,2020-10-01,ชาย,48.0,ปี,Thailand,State Quarantine,ชลบุรี,2020,10,...,ตะวันออก,"13,012","12,266","25,278","11,819","11,166","22,985","1,679","1,548","3,227"
3549,3568,2020-10-01,ชาย,41.0,ปี,India,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ,กรุงเทพมหานคร,2020,10,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
3550,3569,2020-10-01,ชาย,28.0,ปี,Brazil,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ,กรุงเทพมหานคร,2020,10,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
3551,3570,2020-10-01,หญิง,28.0,ปี,Brazil,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ,กรุงเทพมหานคร,2020,10,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5234,6880,2020-12-31,ชาย,42.0,ปี,Thailand,Cluster ระยอง,ระยอง,2020,12,...,ตะวันออก,"4,295","3,856","8,151","3,877","3,706","7,583",577,465,"1,042"
5235,6881,2020-12-31,หญิง,39.0,ปี,Thailand,Cluster ระยอง,ระยอง,2020,12,...,ตะวันออก,"4,295","3,856","8,151","3,877","3,706","7,583",577,465,"1,042"
5236,6883,2020-12-31,ชาย,54.0,ปี,Thailand,Cluster ระยอง,ระยอง,2020,12,...,ตะวันออก,"4,295","3,856","8,151","3,877","3,706","7,583",577,465,"1,042"
5237,6884,2020-12-31,ชาย,56.0,ปี,Thailand,Cluster ระยอง,ระยอง,2020,12,...,ตะวันออก,"4,295","3,856","8,151","3,877","3,706","7,583",577,465,"1,042"
5238,6885,2020-12-31,ชาย,70.0,ปี,Thailand,Cluster ระยอง,ระยอง,2020,12,...,ตะวันออก,"4,295","3,856","8,151","3,877","3,706","7,583",577,465,"1,042"

In [42]:
Project_1_2021 = Project[((Project['month'] == 1) |(Project['month'] == 2) | (Project['month'] == 3)) & (Project['year'] == 2021)]
Project_1_2021

,No.,announce_date,sex,age,Unit,nationality,risk,province_of_isolation,year,month,...,ภูมิภาค,ชาย (คน) 2020,หญิง (คน) 2020,รวม (คน) 2020,ชาย (คน) 2021,หญิง (คน) 2021,รวม (คน) 2021,ชาย (คน) 2022,หญิง (คน) 2022,รวม (คน) 2022
124,125,2021-03-06,หญิง,55.0,ปี,Thailand,Cluster ตลาดพรพัฒน์,ปทุมธานี,2021,3,...,กลาง,"5,203","4,928","10,131","4,973","4,625","9,598",724,651,"1,375"
5239,6886,2021-01-01,หญิง,40.0,ปี,Thailand,Cluster สมุทรสาคร,กรุงเทพมหานคร,2021,1,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
5240,6887,2021-01-01,หญิง,21.0,ปี,Thailand,Cluster ระยอง,ปทุมธานี,2021,1,...,กลาง,"5,203","4,928","10,131","4,973","4,625","9,598",724,651,"1,375"
5241,6888,2021-01-01,หญิง,20.0,ปี,Thailand,สถานบันเทิง,นครปฐม,2021,1,...,กลาง,"3,403","3,184","6,587","3,082","2,974","6,056",419,418,837
5242,6889,2021-01-01,หญิง,47.0,ปี,Thailand,Cluster สมุทรสาคร,สมุทรสาคร,2021,1,...,กลาง,"3,954","3,644","7,598","3,335","3,215","6,550",468,436,904
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24622,28859,2021-03-31,ชาย,35.0,ปี,Philippines,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,2021,3,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
24623,28860,2021-03-31,ชาย,63.0,ปี,Philippines,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,2021,3,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
24624,28861,2021-03-31,หญิง,34.0,ปี,Thailand,State Quarantine,ตาก,2021,3,...,ตะวันตก,"5,171","4,890","10,061","4,843","4,331","9,174",772,741,"1,513"
24625,28862,2021-03-31,หญิง,22.0,ปี,Thailand,State Quarantine,ตาก,2021,3,...,ตะวันตก,"5,171","4,890","10,061","4,843","4,331","9,174",772,741,"1,513"
24626,28863,2021-03-31,ชาย,17.0,ปี,Thailand,State Quarantine,นราธิวาส,2021,3,...,ใต้,"6,115","5,851","11,966","5,798","5,497","11,295",881,829,"1,710"

In [43]:
Project_2_2021 = Project[((Project['month'] == 4) |(Project['month'] == 5) | (Project['month'] == 6)) & (Project['year'] == 2021)]
Project_2_2021

,No.,announce_date,sex,age,Unit,nationality,risk,province_of_isolation,year,month,...,ภูมิภาค,ชาย (คน) 2020,หญิง (คน) 2020,รวม (คน) 2020,ชาย (คน) 2021,หญิง (คน) 2021,รวม (คน) 2021,ชาย (คน) 2022,หญิง (คน) 2022,รวม (คน) 2022
24627,28864,2021-04-01,ชาย,27.0,ปี,Burma,Cluster สมุทรสาคร,สมุทรสาคร,2021,4,...,กลาง,"3,954","3,644","7,598","3,335","3,215","6,550",468,436,904
24628,28865,2021-04-01,หญิง,18.0,ปี,Burma,Cluster สมุทรสาคร,สมุทรสาคร,2021,4,...,กลาง,"3,954","3,644","7,598","3,335","3,215","6,550",468,436,904
24629,28866,2021-04-01,ชาย,28.0,ปี,Burma,Cluster สมุทรสาคร,สมุทรสาคร,2021,4,...,กลาง,"3,954","3,644","7,598","3,335","3,215","6,550",468,436,904
24630,28867,2021-04-01,หญิง,30.0,ปี,Burma,Cluster สมุทรสาคร,สมุทรสาคร,2021,4,...,กลาง,"3,954","3,644","7,598","3,335","3,215","6,550",468,436,904
24631,28868,2021-04-01,หญิง,30.0,ปี,Burma,Cluster สมุทรสาคร,สมุทรสาคร,2021,4,...,กลาง,"3,954","3,644","7,598","3,335","3,215","6,550",468,436,904
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236294,259297,2021-06-30,หญิง,62.0,ปี,Thailand,ทัณฑสถาน/เรือนจำ,สงขลา,2021,6,...,ใต้,"8,382","7,735","16,117","7,816","7,334","15,150","1,031","1,076","2,107"
236295,259298,2021-06-30,หญิง,63.0,ปี,Thailand,ทัณฑสถาน/เรือนจำ,สงขลา,2021,6,...,ใต้,"8,382","7,735","16,117","7,816","7,334","15,150","1,031","1,076","2,107"
236296,259299,2021-06-30,หญิง,34.0,ปี,Thailand,ทัณฑสถาน/เรือนจำ,สงขลา,2021,6,...,ใต้,"8,382","7,735","16,117","7,816","7,334","15,150","1,031","1,076","2,107"
236297,259300,2021-06-30,หญิง,45.0,ปี,Thailand,ทัณฑสถาน/เรือนจำ,สงขลา,2021,6,...,ใต้,"8,382","7,735","16,117","7,816","7,334","15,150","1,031","1,076","2,107"
236298,259301,2021-06-30,ชาย,37.0,ปี,Thailand,ทัณฑสถาน/เรือนจำ,สงขลา,2021,6,...,ใต้,"8,382","7,735","16,117","7,816","7,334","15,150","1,031","1,076","2,107"

In [44]:
Project_3_2021 = Project[((Project['month'] == 7) |(Project['month'] == 8) | (Project['month'] == 9)) & (Project['year'] == 2021)]
Project_3_2021

,No.,announce_date,sex,age,Unit,nationality,risk,province_of_isolation,year,month,...,ภูมิภาค,ชาย (คน) 2020,หญิง (คน) 2020,รวม (คน) 2020,ชาย (คน) 2021,หญิง (คน) 2021,รวม (คน) 2021,ชาย (คน) 2022,หญิง (คน) 2022,รวม (คน) 2022
236299,259302,2021-07-01,ชาย,35.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,2021,7,...,เหนือ,"5,300","5,071","10,371","4,773","4,514","9,287",730,655,"1,385"
236300,259303,2021-07-01,หญิง,41.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,2021,7,...,เหนือ,"5,300","5,071","10,371","4,773","4,514","9,287",730,655,"1,385"
236301,259304,2021-07-01,หญิง,58.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,2021,7,...,เหนือ,"5,300","5,071","10,371","4,773","4,514","9,287",730,655,"1,385"
236302,259305,2021-07-01,ชาย,37.0,ปี,Thailand,อื่นๆ,เชียงราย,2021,7,...,เหนือ,"5,300","5,071","10,371","4,773","4,514","9,287",730,655,"1,385"
236303,259306,2021-07-01,ชาย,37.0,ปี,Thailand,สถานที่ทำงาน,เชียงราย,2021,7,...,เหนือ,"5,300","5,071","10,371","4,773","4,514","9,287",730,655,"1,385"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1474313,1603468,2021-09-30,หญิง,26.0,ปี,Thailand,ทัณฑสถาน/เรือนจำ,ชัยภูมิ,2021,9,...,ตะวันออกเฉียงเหนือ,"3,807","3,529","7,336","3,505","3,308","6,813",508,492,"1,000"
1474314,1603469,2021-09-30,หญิง,42.0,ปี,Thailand,ทัณฑสถาน/เรือนจำ,ชัยภูมิ,2021,9,...,ตะวันออกเฉียงเหนือ,"3,807","3,529","7,336","3,505","3,308","6,813",508,492,"1,000"
1474315,1603470,2021-09-30,ชาย,36.0,ปี,Thailand,ทัณฑสถาน/เรือนจำ,เพชรบุรี,2021,9,...,ตะวันตก,"1,814","1,712","3,526","1,629","1,596","3,225",227,222,449
1474316,1603471,2021-09-30,ชาย,34.0,ปี,Thailand,ทัณฑสถาน/เรือนจำ,เพชรบุรี,2021,9,...,ตะวันตก,"1,814","1,712","3,526","1,629","1,596","3,225",227,222,449
1474317,1603474,2021-09-30,ชาย,40.0,ปี,Thailand,ทัณฑสถาน/เรือนจำ,สุราษฎร์ธานี,2021,9,...,ใต้,"5,954","5,498","11,452","5,283","4,896","10,179",696,699,"1,395"

In [45]:
Project_4_2021 = Project[((Project['month'] == 10) |(Project['month'] == 11) | (Project['month'] == 12)) & (Project['year'] == 2021)]
Project_4_2021

,No.,announce_date,sex,age,Unit,nationality,risk,province_of_isolation,year,month,...,ภูมิภาค,ชาย (คน) 2020,หญิง (คน) 2020,รวม (คน) 2020,ชาย (คน) 2021,หญิง (คน) 2021,รวม (คน) 2021,ชาย (คน) 2022,หญิง (คน) 2022,รวม (คน) 2022
1474318,1603476,2021-10-01,หญิง,30.0,ปี,Thailand,อื่นๆ,พะเยา,2021,10,...,เหนือ,"1,497","1,326","2,823","1,410","1,256","2,666",213,212,425
1474319,1603477,2021-10-01,หญิง,32.0,ปี,Thailand,อื่นๆ,พะเยา,2021,10,...,เหนือ,"1,497","1,326","2,823","1,410","1,256","2,666",213,212,425
1474320,1603478,2021-10-01,หญิง,38.0,ปี,ไม่ระบุ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,2021,10,...,เหนือ,"5,300","5,071","10,371","4,773","4,514","9,287",730,655,"1,385"
1474321,1603479,2021-10-01,ชาย,41.0,ปี,ไม่ระบุ,อื่นๆ,เชียงราย,2021,10,...,เหนือ,"5,300","5,071","10,371","4,773","4,514","9,287",730,655,"1,385"
1474322,1603480,2021-10-01,ชาย,31.0,ปี,ไม่ระบุ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,2021,10,...,เหนือ,"5,300","5,071","10,371","4,773","4,514","9,287",730,655,"1,385"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025581,2223277,2021-12-31,ชาย,33.0,ปี,Dutch,Test and Go,กรุงเทพมหานคร,2021,12,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
2025582,2223278,2021-12-31,หญิง,30.0,ปี,British / English,Test and Go,กรุงเทพมหานคร,2021,12,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
2025583,2223279,2021-12-31,ชาย,43.0,ปี,French,Test and Go,กรุงเทพมหานคร,2021,12,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
2025584,2223280,2021-12-31,หญิง,30.0,ปี,South African,อื่นๆ,กรุงเทพมหานคร,2021,12,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
2025585,2223281,2021-12-31,หญิง,18.0,ปี,Thailand,Test and Go,กรุงเทพมหานคร,2021,12,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"

In [46]:
Project_1_2022 = Project[((Project['month'] == 1) |(Project['month'] == 2) | (Project['month'] == 3)) & (Project['year'] == 2022)]
Project_1_2022

,No.,announce_date,sex,age,Unit,nationality,risk,province_of_isolation,year,month,...,ภูมิภาค,ชาย (คน) 2020,หญิง (คน) 2020,รวม (คน) 2020,ชาย (คน) 2021,หญิง (คน) 2021,รวม (คน) 2021,ชาย (คน) 2022,หญิง (คน) 2022,รวม (คน) 2022
2025586,2223436,2022-01-01,ชาย,39.0,ปี,Thailand,อื่นๆ,พะเยา,2022,1,...,เหนือ,"1,497","1,326","2,823","1,410","1,256","2,666",213,212,425
2025587,2223437,2022-01-01,หญิง,39.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,2022,1,...,เหนือ,"1,497","1,326","2,823","1,410","1,256","2,666",213,212,425
2025588,2223438,2022-01-01,ชาย,64.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,2022,1,...,เหนือ,"1,497","1,326","2,823","1,410","1,256","2,666",213,212,425
2025589,2223439,2022-01-01,ชาย,27.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,2022,1,...,เหนือ,"1,497","1,326","2,823","1,410","1,256","2,666",213,212,425
2025590,2223440,2022-01-01,หญิง,35.0,ปี,Thailand,อยู่ระหว่างการสอบสวน,พะเยา,2022,1,...,เหนือ,"1,497","1,326","2,823","1,410","1,256","2,666",213,212,425
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3036368,3303062,2022-03-18,ไม่ระบุ,43.0,ปี,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร,2022,3,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
3036369,3303063,2022-03-18,ไม่ระบุ,21.0,ปี,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร,2022,3,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
3036370,3303064,2022-03-18,ไม่ระบุ,22.0,ปี,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร,2022,3,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
3036371,3303065,2022-03-18,ไม่ระบุ,25.0,ปี,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร,2022,3,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"
3036372,3303066,2022-03-18,ไม่ระบุ,64.0,ปี,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร,2022,3,...,กลาง,"36,759","34,214","70,973","31,973","29,631","61,604","4,222","3,902","8,124"

In [47]:
Project_1_2020.to_csv('Project_1_2020.csv', encoding = 'utf-8')

In [48]:
Project_2_2020.to_csv('Project_2_2020.csv', encoding = 'utf-8')

In [49]:
Project_3_2020.to_csv('Project_3_2020.csv', encoding = 'utf-8')

In [50]:
Project_4_2020.to_csv('Project_4_2020.csv', encoding = 'utf-8')

In [51]:
Project_1_2021.to_csv('Project_1_2021.csv', encoding = 'utf-8')

In [52]:
Project_2_2021.to_csv('Project_2_2021.csv', encoding = 'utf-8')

In [53]:
Project_3_2021.to_csv('Project_3_2021.csv', encoding = 'utf-8')

In [54]:
Project_4_2021.to_csv('Project_4_2021.csv', encoding = 'utf-8')

In [55]:
Project_1_2022.to_csv('Project_1_2022.csv', encoding = 'utf-8')